
.about {
    text-align: center;
    margin: 3rem auto;
}
.aboutText {
    width: 70%;
    margin: 0 auto;
    font-size: smaller;
}
.aboutInfo {
    width: 70%;
    font-size: smaller;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
}

.aboutInfoImg img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.aboutInfoDetails {
    width: 80%;
    text-align: start;
}
.listDetail{
    display: flex;
    list-style: square;
    justify-content: center;
    text-align: start;
    width: fit-content;
}
.listDetail li{
    padding: 0.5rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width: 768px){
    .listDetail{
        display: block;
        margin: 0;
    }
    .aboutInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutInfoDetails {
        margin: 0 auto;
        gap: 0rem;
    }
    .aboutInfoImg img {
        height: 500px;
        width: 500px;
    }
}
@media screen and (max-width: 576px){
    .aboutInfoImg img {
        height: 300px;
        width: 300px;
    }
    .aboutInfoDetails {
        width: 100%;
    }
}
