@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
a {
    cursor: pointer;
    text-decoration: none;
}
h1, h3 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    display: inline-block;
    border-right: 3px solid #2353cc;
    border-left: 3px solid #2353cc;
    padding: 1rem;
}

li {
    list-style: none;
}

/* home */
.navbar {
    height: 5rem;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 9997;
    gap: 1rem;
}
.navbar a {
    color: black;
}
.divNavbar {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
}
.home{
    display: flex;
    align-items: center;
}
.home::before {
    content: "";
    background: rgba(255, 255, 255, 0.65);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
}
.home-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    z-index: 9997;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
}

.box1 {
    height: 1000px;
    background-color: lightgreen;
}

.active {
    background-color: grey;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
/* popup */
.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.popup {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 70%;
    position: relative;
    text-align: center;
    animation: scaleUp 0.3s ease;
    overflow-y: scroll;
    position: relative;
}
.popup a {
    color: black;
    font-weight: bold;
    background-color: lightgreen;
    padding: 0.5rem;
    border-radius: 1rem;
}
@keyframes scaleUp {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
.close {
    position: sticky;
    top: 10px;
    right: 10px;
    background: #ff5f5f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.close:hover {
    background: #ff3636;
}

.details-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.details {
    margin-bottom: 15px;
    color: #555;
}
.detailsTitle {
    margin-bottom: 15px;
    color: #555;
    text-transform: uppercase;
}
/* fine popup */

@media screen and (min-width: 576px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 576px) {
    .home-article {
        z-index: 9997;
        flex-direction: column;
    }
    .navbar {
        display: none;
    }
    .home{
        background-size: auto;
        align-items: flex-start;
        background-size: cover;
        background-position: right;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
